@{
  Layout = "_Layout";
}

<h1>@Model.GetGameWinner()</h1>
<h2>@Model.GetPlayerOneName() Picked: @Model.GetPlayerOneChoice()</h2>
<h2>@Model.GetPlayerTwoName() Picked: @Model.GetPlayerTwoChoice()</h2>
<br>
<div class="resultsRight">
<h2>@Model.GetPlayerOneName() Has Won: @Model.GetPlayerOneWins() Games</h2>
<h2>@Model.GetPlayerTwoName() Has Won: @Model.GetPlayerTwoWins() Games</h2>
<h2>Number of Draws: @Model.GetDraws()</h2>
</div>

<form action="/PlayAgainComputer" method="get">
  <button class="btn btn-primary" type="submit" name="button">Play Again</button>
</form>
<br>
<form action="/Reset" method="get">
  <button class="btn btn-danger" type="submit" name="button">Reset Game</button>
</form>
